  body {
      background-color: #042647;
      color: aliceblue;
      width: 100%;
  }
  
  header {
      margin: 3rem auto;
  }
  
  h1 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center;
  }
  
  .container {
      background-color: rgb(33, 33, 123);
      width: 30%;
      margin: 7rem auto 20rem auto;
      border: none;
      border-radius: 3rem;
      font-size: 2.2rem;
      text-align: center;
  }

  .button {
    background-color: 205182;
    border-radius: 20px;
    color: white;
  }

  .jawab {
    color: white;
    justify-content: center;
    align-items: center;
  }